[MAIN]
max-line-length=100
disable=import-error,
    missing-function-docstring,
    invalid-name,
    unused-argument,
    import-outside-toplevel,
    unspecified-encoding,
    consider-using-with,
    fixme,
    line-too-long,
    missing-class-docstring,
    attribute-defined-outside-init,
    invalid-overridden-method,
    too-many-locals,
    too-many-statements,
    consider-using-f-string.too-many-instance-attributes,
    broad-exception-caught,
    no-else-raise,
    no-else-return,
    raise-missing-from,
    redefined-outer-name,
    unnecessary-dunder-call,
    global-variable-not-assigned,
    unused-variable,
    super-with-arguments,
    consider-using-f-string,
    protected-access,
    wrong-import-order,
    unknown-option-value,
    use-dict-literal,
    unnecessary-comprehension,
    unbalanced-tuple-unpacking,
    bare-except,
    invalid-envvar-default,
    consider-iterating-dictionary,
    consider-using-enumerate,
    no-else-break,
    too-many-lines,
    use-list-literal,
    too-many-arguments,
    broad-exception-raised,
    ungrouped-imports,
    simplifiable-if-expression,
    pointless-string-statement,
    duplicate-code,
    missing-module-docstring,
    redefined-builtin,
    too-few-public-methods,
    too-many-instance-attributes,
    arguments-differ,
    useless-object-inheritance,
    too-many-ancestors,
    deprecated-decorator,
    too-many-nested-blocks,
    redefined-argument-from-local,
    dangerous-default-value,
    too-many-branches,
    inconsistent-return-statements,
    too-many-public-methods,
    signature-differs,
    arguments-renamed,
    pointless-statement,
    unnecessary-list-index-lookup,
    abstract-method,
    anomalous-backslash-in-string,
    undefined-loop-variable,
    consider-using-dict-items,
    eval-used,
    consider-using-in,
    too-many-return-statements,
    expression-not-assigned,
    global-at-module-level,
    unused-private-member,
    consider-using-sys-exit,
    global-variable-undefined,
    exec-used,
    cyclic-import,
    unnecessary-lambda
