# requirements for the execution of tests and packaging. Not runtime requirements.
pytest==7.2.0
mock==4.0.3
flake8==5.0.4
pylint==2.15.6
black==22.10.0
pytest-cov==4.0.0
pytest-docker==3.2.0
tox==4.*
PyYAML==6.0
sphinx==7.1.2
sphinx-rtd-theme==3.0.2
sphinx-mdinclude==0.6.2
